<section class="catalog-section">
  <div class="section-container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-product-list">
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-1@2x.png 2x"
              src="./img/desktop/catalog/img-1.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Tube Watch S42 Date Steel With Black
            </p>
            <p class="catalog-product-list-text-cost">€395</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-2@2x.png 2x"
              src="./img/desktop/catalog/img-2.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Avondale Watch Police For Men
            </p>
            <p class="catalog-product-list-text-cost">€800</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-3@2x.png 2x"
              src="./img/desktop/catalog/img-3.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Diver 300M Co‑Axial Master Chronometer
            </p>
            <p class="catalog-product-list-text-cost">€600</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-4@2x.png 2x"
              src="./img/desktop/catalog/img-4.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <p class="catalog-product-list-text-cost">€1400</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-5@2x.png 2x"
              src="./img/desktop/catalog/img-5.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Taman Watch By Police For Men
            </p>
            <p class="catalog-product-list-text-cost">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-6@2x.png 2x"
              src="./img/desktop/catalog/img-6.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Malawi Watch Police For Men
            </p>
            <p class="catalog-product-list-text-cost">€555</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-7@2x.png 2x"
              src="./img/desktop/catalog/img-7.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <p class="catalog-product-list-text-cost">€1200</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-8@2x.png 2x"
              src="./img/desktop/catalog/img-8.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Greenlane Watch By Police For Men
            </p>
            <p class="catalog-product-list-text-cost">€1000</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item catalog-product-list-item-desktop">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-9@2x.png 2x"
              src="./img/desktop/catalog/img-9.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Squardrc 5402 Chrono
            </p>
            <p class="catalog-product-list-text-cost">€359</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item catalog-product-list-item-desktop">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-10@2x.png 2x"
              src="./img/desktop/catalog/img-10.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">
              Diver 300M Co‑Axial Master Chronometer
            </p>
            <p class="catalog-product-list-text-cost">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item catalog-product-list-item-desktop">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-11@2x.png 2x"
              src="./img/desktop/catalog/img-11.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">Citizen</p>
            <p class="catalog-product-list-text-cost">€519</p>
          </div>
        </div>
      </li>
      <li class="catalog-product-list-item catalog-product-list-item-desktop">
        <div class="catalog-product-list-item-wrapper">
          <div class="catalog-product-list-img-wrapper">
            <img
              srcset="./img/desktop/catalog/img-12@2x.png 2x"
              src="./img/desktop/catalog/img-12.png"
              alt=""
            />
          </div>
          <div class="catalog-product-list-text-wrapper">
            <p class="catalog-product-list-text-description">Armani Exchange</p>
            <p class="catalog-product-list-text-cost">€400</p>
          </div>
        </div>
      </li>
    </ul>
    <button
      type="button"
      class="catalog-buy-btn catalog-button"
      data-modal-open
    >
      Buy now
    </button>
  </div>
</section>
<!-- -------------Modal-Window----------------------------- -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" data-modal-close class="close-btn">
      <svg class="catalog-close-svg" width="20" height="20">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="catalog-product-list-item-wrapper modal-watch-wrapper">
      <div class="catalog-product-list-img-wrapper modal-watch">
        <img
          srcset="./img/desktop/catalog/img-2@2x.png 2x"
          src="./img/desktop/catalog/img-2.png"
          alt=""
        />
      </div>
      <div class="catalog-product-list-text-wrapper">
        <p class="catalog-product-list-text-description">
          Avondale Watch Police For Men
        </p>
        <p class="catalog-product-list-text-cost">€800</p>
      </div>
    </div>
    <form name="form-cotact" class="form-field">
      <div class="name field">
        <label for="name" class="label-text">Full name</label>
        <input
          required
          pattern="^(\w\w+)\s(\w+)$"
          type="text"
          name="user-name"
          id="name"
          class="input-modal"
          placeholder="Enter your full name"
        />
      </div>
      <div class="email field">
        <label for="email" class="label-text">Email</label>
        <input
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          type="email"
          name="email"
          id="email"
          class="input-modal"
          placeholder="Enter your email"
        />
      </div>
      <div class="card field">
        <label for="card" class="label-text">Card number </label>
        <input
          required
          pattern="^4[0-9]{12}(?:[0-9]{3})?$"
          type="text"
          id="card"
          class="input-modal"
          placeholder="Enter card"
        />
      </div>
      <div class="comment field">
        <label for="comment" class="comment-label label-text">Comments </label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Enter your text"
          class="area-box input-modal"
        ></textarea>
      </div>
      <button type="submit" class="catalog-submit-btn catalog-button">
        submit
      </button>
      <p class="modal-catalog-txt">
        By clicking on "Submit" button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
