<section class="catalog-box container">
  <h2 class="catalog-title">Catalog</h2>
  <ul class="catalog-list">
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-1.png    1x,
          ./img/desktop/catalog/img-1@2x.png 2x
        "
        alt="watch1"
        src="./img/desktop/catalog/img-1.png "
      />

      <div class="catalog-txt">
        <h3 class="catalog-sec-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-price">€395</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-2.png    1x,
          ./img/desktop/catalog/img-2@2x.png 2x
        "
        alt="watch2"
        src="./img/desktop/catalog/img-2.png "
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Avondale Watch Police For Men</h3>
        <p class="catalog-price">€800</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-3.png    1x,
          ./img/desktop/catalog/img-3@2x.png 2x
        "
        alt="watch3"
        src="./img/desktop/catalog/img-3.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="catalog-price">€600</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-4.png    1x,
          ./img/desktop/catalog/img-4@2x.png 2x
        "
        alt="watch4"
        src="./img/desktop/catalog/img-4.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-price">€1400</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-5.png    1x,
          ./img/desktop/catalog/img-5@2x.png 2x
        "
        alt="watch5"
        src="./img/desktop/catalog/img-5.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Taman Watch By Police For Men</h3>
        <p class="catalog-price">€500</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-6.png    1x,
          ./img/desktop/catalog/img-6@2x.png 2x
        "
        alt="watch6"
        src="./img/desktop/catalog/img-6.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Malawi Watch Police For Men</h3>
        <p class="catalog-price">€555</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-7.png    1x,
          ./img/desktop/catalog/img-7@2x.png 2x
        "
        alt="watch7"
        src="./img/desktop/catalog/img-7.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p>1200</p>
      </div>
    </li>
    <li class="catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-8.png    1x,
          ./img/desktop/catalog/img-8@2x.png 2x
        "
        alt="watch8"
        src="./img/desktop/catalog/img-8.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">€1000</p>
      </div>
    </li>
    <li class="catalog-deck catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-9.png    1x,
          ./img/desktop/catalog/img-9@2x.png 2x
        "
        alt="watch9"
        src="./img/desktop/catalog/img-9.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Squardrc 5402 Chrono</h3>
        <p>€359</p>
      </div>
    </li>
    <li class="catalog-deck catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-10.png    1x,
          ./img/desktop/catalog/img-10@2x.png 2x
        "
        alt="watch10"
        src="./img/desktop/catalog/img-10.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="catalog-price">€400</p>
      </div>
    </li>
    <li class="catalog-desk catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-11.png    1x,
          ./img/desktop/catalog/img-11@2x.png 2x
        "
        alt="watch11"
        src="./img/desktop/catalog/img-11.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Citizen</h3>
        <p class="catalog-price">€519</p>
      </div>
    </li>
    <li class="catalog-deck catalog-item">
      <img
        srcset="
          ./img/desktop/catalog/img-12.png    1x,
          ./img/desktop/catalog/img-12@2x.png 2x
        "
        alt="watch12"
        src="./img/desktop/catalog/img-12.png"
      />
      <div class="catalog-txt">
        <h3 class="catalog-sec-title">Armani Exchange</h3>
        <p class="catalog-price">€400</p>
      </div>
    </li>
  </ul>
  <button data-modal-open type="button" class="catalog-buy-btn">Buy now</button>
</section>
<!-- -------------Modal-Window----------------------------- -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" data-modal-close class="close-btn">X</button>
    <div class="modal-watch">
      <img
        srcset="
          ./img/desktop/catalog/img-3.png    1x,
          ./img/desktop/catalog/img-3@2x.png 2x
        "
        alt="watch1"
        src="./img/desktop/catalog/img-3.png"
      />
      <h2 class="catalog-sec-title">
        Diver 300M CoAxial Master Chronometer Chronograph
      </h2>
      <p class="catalog-price">€600</p>
    </div>
    <form name="form-cotact" class="form-field">
      <div class="name field">
        <label for="name" class="label-text">Full name</label>
        <input
          type="text"
          name="user-name"
          id="name"
          class="input-modal"
          placeholder="Enter your full name"
        />
      </div>
      <div class="email field">
        <label for="email" class="label-text">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="input-modal"
          placeholder="Enter your email"
        />
      </div>
      <div class="card field">
        <label for="card" class="label-text">Card number </label>
        <input
          type="text"
          id="card"
          class="input-modal"
          placeholder="Enter card"
        />
      </div>
      <div class="comment field">
        <label for="comment" class="comment-label label-text">Comments </label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Enter your text"
          class="area-box input-modal"
        ></textarea>
      </div>
      <button type="submit" class="catalog-buy-btn">submit</button>
      <p class="modal-catalog-txt">
        By clicking on "Submit" button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
