<div class="section-container footer-container">
  <div class="footer-container-adress">
    <div class="footer-logo">
      <a href="" class="footer-logo-link link">
        <svg class="footer-logo-icon" width="40" height="40">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-contacts">
      <ul class="footer-contacts-list list">
        <li class="footer-contacts-item">
          <a href="tel:+380684439426" class="footer-contacts-link-tel"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-contacts-item">
          <a
            href="https://goo.gl/maps/eX9XgX1CrQD8gqJx6?coh=178573&entry=tt"
            class="footer-contacts-address"
          >
            1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-navigation">
    <ul class="footer-navigation-list list">
      <li class="footer-navigation-item">
        <a href="#about_us" class="footer-navigation-link">ABOUT US</a>
      </li>
      <li class="footer-navigation-item">
        <a href="#_catalog" class="footer-navigation-link">CATALOG</a>
      </li>
      <li class="footer-navigation-item">
        <a href="_sale" class="footer-navigation-link">SALE</a>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <ul class="footer-social-list list">
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <svg class="footer-social-icon mobile" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-facebook"></use>
          </svg>
          <svg class="footer-social-icon desctop" width="28" height="28">
            <use href="./img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <svg class="footer-social-icon mobile" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
          <svg class="footer-social-icon desctop" width="28" height="28">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <svg class="footer-social-icon mobile" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-youtube"></use>
          </svg>
          <svg class="footer-social-icon desctop" width="28" height="28">
            <use href="./img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-rights">
    <p class="footer-rights-descriotion">
      &#169;2022 The Watch Spot. All rights reserved.
    </p>

    <ul class="footer-rights-list list">
      <li class="footer-rights-item">
        <a href="" class="footer-rights-link">Privacy Policy</a>
      </li>
      <li class="footer-rights-item">
        <a href="" class="footer-rights-link">Terms of Service</a>
      </li>
    </ul>
  </div>
</div>
