<div class="section-container header-container">
  <nav class="header-navigation">
    <a class="header-logo" href>
      <img
        class="logo-svg"
        src="../img/symbol-defs.svg#icon-logo-3"
        alt="site logo"
      />
      <p class="text-logo">thewatchspot</p>
    </a>

    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="mobile-menu-open__svg" width="24" height="24">
        <use href="../img/symbol-defs.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <ul class="header-list list">
      <li class="header-item">
        <a class="header-link link" href="#about">ABOUT US</a>
      </li>
      <li class="header-item">
        <a class="header-link link" href="#catalog">CATALOG</a>
      </li>
      <li class="header-item">
        <a class="header-link link" href="#sale">SALE</a>
      </li>
    </ul>
  </nav>
  <a class="header-phone link" href="tel:+380441111111">+38 044 111 11 11</a>
</div>

<div class="mobile-menu-burger" data-menu>
  <div class="container mobile-menu-container">
    <button type="button" class="menu-btn" data-menu-close>
      <svg class="button-icon_menu" width="24" height="24">
        <use href="../img/symbol-defs.svg#icon-facebook"></use>
      </svg>
    </button>

    <ul class="nav-menu list">
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#about">ABOUT US</a>
      </li>
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#catalog">CATALOG</a>
      </li>
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#sale">SALE</a>
      </li>
    </ul>
  </div>
</div>
