<div
  class="section-container header-container animate__animated animate__zoomIn"
>
  <nav class="header-navigation">
    <a class="header-logo" href>
      <svg class="logo-svg" width="19" height="19">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
      <p class="text-logo">thewatchspot</p>
    </a>

    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="mobile-menu-open__svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <ul class="header-list list">
      <li class="header-item">
        <a class="header-link link" href="#about_us">ABOUT US</a>
      </li>
      <li class="header-item">
        <a class="header-link link" href="#_catalog">CATALOG</a>
      </li>
      <li class="header-item">
        <a class="header-link link" href="#_sale">SALE</a>
      </li>
    </ul>
  </nav>
  <a class="header-phone link" href="tel:+380441111111">+38 044 111 11 11</a>
</div>

<div class="mobile-menu-burger" data-menu>
  <div class="mobile-menu-container section-container">
    <div class="modal-nav">
      <a class="header-logo" href="">
        <svg class="logo-svg" width="19" height="19">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
        <p class="text-logo">thewatchspot</p>
      </a>
      <button type="button" class="menu-btn" data-menu-close>
        <svg class="button-icon_menu" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="nav-menu list">
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#about_us">ABOUT US</a>
      </li>
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#_catalog">CATALOG</a>
      </li>
      <li class="nav-list-menu">
        <a class="nav-item-menu link" href="#_sale">SALE</a>
      </li>
    </ul>
  </div>
</div>
