<section class="new-watches-section">
  <div class="section-container new-watches-container">
    <p class="new-watches-sup-title">New watches</p>
    <h2 class="new-watches-title">
      Green And Bronze—The <br />
      Match Made In Heaven
    </h2>
    <div class="new-watches-image-container">
      <picture
        ><source
          srcset="
            ./img/desktop/new-watches/img-1.jpg    1x,
            ./img/desktop/new-watches/img-1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet/new-watches/img-1.jpg    1x,
            ./img/tablet/new-watches/img-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          srcset="./img/mobile/new-watches/img-1@2x.jpg 2x"
          src="./img/mobile/new-watches/img-1.jpg"
          alt=""
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/desktop/new-watches/img-2.jpg    1x,
            ./img/desktop/new-watches/img-2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet/new-watches/img-2.jpg    1x,
            ./img/tablet/new-watches/img-2@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          srcset="./img/mobile/new-watches/img-2@2x.jpg 2x"
          src="./img/mobile/new-watches/img-2.jpg"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
