<section class="sale">
  <div class="sale-container section-container">
    <h1 class="sale-title">Sale</h1>
    <div class="sale-wrapper">
      <div class="sale-galery">
        <ul>
          <li>
            <picture
              ><img
                srcset="./img/mobile/sale/mob-small-img1@2x.jpg 2x"
                class="sale-img"
                src="./img/mobile/sale/mob-small-img1.jpg"
                alt="Clock"
                width="80"
                height="80"
            /></picture>
          </li>
          <li>
            <img
              srcset="./img/mobile/sale/mob-small-img2@2x.jpg 2x"
              src="./img/mobile/sale/mob-small-img2.jpg"
              alt="Clock"
              width="80"
              height="80"
            />
          </li>
          <li>
            <img
              srcset="./img/mobile/sale/mob-small-img3@2x.jpg 2x"
              src="./img/mobile/sale/mob-small-img3.jpg"
              alt="Clock"
              width="80"
              height="80"
            />
          </li>
          <li>
            <img
              srcset="./img/mobile/sale/mob-small-img4@2x.jpg 2x"
              src="./img/mobile/sale/mob-small-img4.jpg"
              alt="Clock"
              width="80"
              height="80"
            />
          </li>
        </ul>
        <img
          srcset="./img/mobile/sale/mob-large-img@2x.jpg 2x"
          src="./img/mobile/sale/mob-large-img.jpg"
          alt="Clock"
          width="235"
          height="350"
        />
      </div>
      <div class="sale-describe">
        <h2 class="sale-heading">Greenlane Watch By Police For MenHT</h2>
        <p class="sale-heading-text">Product tag: PEWJK2227003</p>
        <p class="sale-prise">
          €700<span class="sale-prise-discount">€1000</span>
        </p>
        <h3 class="sale-description">Description</h3>
        <p class="sale-description-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
        <h3 class="sale-details">DETAILS & FEATUREStion</h3>
        <ul class="sale-details-list">
          <li class="sale-details-item">Gender: man</li>
          <li class="sale-details-item">Size: 46x54.5mm</li>
          <li class="sale-details-item">Case Colour: Steel</li>
          <li class="sale-details-item">Band Material: Metal</li>
          <li class="sale-details-item">Case Material: Metal</li>
          <li class="sale-details-item">Features: Multifunction</li>
          <li class="sale-details-item">Water Resistant: 5 (ATM)</li>
          <li class="sale-details-item">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
