<section class="sale-section" id="_sale">
  <div class="section-container">
    <h1 class="sale-title">Sale</h1>
    <div class="sale-wrapper">
      <div class="sale-galery sale-item">
        <ul class="sale-img-list">
          <li class="sale-img-item">
            <picture class="sale-picture">
              <source
                srcset="
                  ./img/mobile/sale/mob-small-img1.jpg    1x,
                  ./img/mobile/sale/mob-small-img1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./img/desktop/sale/desk-small-img1.jpg    1x,
                  ./img/desktop/sale/desk-small-img1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./img/tablet/sale/tab-small-img1.jpg    1x,
                  ./img/tablet/sale/tab-small-img1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)" />
              <img
                class="sale-img-small"
                src="./img/desktop/sale/desk-small-img1.jpg"
                alt="Clock"
                width="80"
                height="80"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture class="sale-picture">
              <source
                srcset="
                  ./img/mobile/sale/mob-small-img2.jpg    1x,
                  ./img/mobile/sale/mob-small-img2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./img/desktop/sale/desk-small-img2.jpg    1x,
                  ./img/desktop/sale/desk-small-img2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./img/tablet/sale/tab-small-img2.jpg    1x,
                  ./img/tablet/sale/tab-small-img2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)" />
              <img
                class="sale-img-small"
                src="./img/desktop/sale/desk-small-img2.jpg"
                alt="Clock"
                width="80"
                height="80"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture class="sale-picture">
              <source
                srcset="
                  ./img/mobile/sale/mob-small-img3.jpg    1x,
                  ./img/mobile/sale/mob-small-img3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./img/desktop/sale/desk-small-img3.jpg    1x,
                  ./img/desktop/sale/desk-small-img3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./img/tablet/sale/tab-small-img3.jpg    1x,
                  ./img/tablet/sale/tab-small-img3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)" />
              <img
                class="sale-img-small"
                src="./img/desktop/sale/desk-small-img3.jpg"
                alt="Clock"
                width="80"
                height="80"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture class="sale-picture">
              <source
                srcset="
                  ./img/mobile/sale/mob-small-img4.jpg    1x,
                  ./img/mobile/sale/mob-small-img4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./img/desktop/sale/desk-small-img4.jpg    1x,
                  ./img/desktop/sale/desk-small-img4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./img/tablet/sale/tab-small-img4.jpg    1x,
                  ./img/tablet/sale/tab-small-img4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)" />
              <img
                class="sale-img-small"
                src="./img/desktop/sale/desk-small-img4.jpg"
                alt="Clock"
                width="80"
                height="80"
            /></picture>
          </li>
        </ul>
        <picture class="sale-picture">
          <source
            srcset="
              ./img/mobile/sale/mob-large-img.jpg    1x,
              ./img/mobile/sale/mob-large-img@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./img/desktop/sale/desk-large-img.jpg    1x,
              ./img/desktop/sale/desk-large-img@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/tablet/sale/tab-large-img.jpg    1x,
              ./img/tablet/sale/tab-large-img@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <img
            class="sale-img-large"
            src="./img/desktop/sale/desk-large-img.jpg"
            alt="Clock"
            width="235"
            height="350"
        /></picture>
      </div>
      <div class="sale-describe-wrap sale-item">
        <h2 class="sale-heading">Greenlane Watch By Police For MenHT</h2>
        <p class="sale-heading-text">Product tag: PEWJK2227003</p>
        <span class="sale-prise">€700</span
        ><span class="sale-prise-discount">€1000</span>
        <h3 class="sale-subtitle">Description</h3>
        <p class="sale-description-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
        <h3 class="sale-subtitle">DETAILS & FEATUREStion</h3>
        <ul class="sale-details-list">
          <li class="sale-details-item">Gender: man</li>
          <li class="sale-details-item">Size: 46x54.5mm</li>
          <li class="sale-details-item">Case Colour: Steel</li>
          <li class="sale-details-item">Band Material: Metal</li>
          <li class="sale-details-item">Case Material: Metal</li>
          <li class="sale-details-item">Features: Multifunction</li>
          <li class="sale-details-item">Water Resistant: 5 (ATM)</li>
          <li class="sale-details-item">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
