/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Epilogue', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.section-container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .section-container {
    width: 365px;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    width: 734px;
  }
}

@media screen and (min-width: 1280px) {
  .section-container {
    width: 1206px;
  }
}
